<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gophernet - Login</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form class="gophernet-form" id="login-form">
                <span> Bem vindo ao GopherNet! </span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite seu e-mail" required="required">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Digite sua senha"
                        required="required">
                </div>
                <p>
                    Ainda nao tem uma contao?
                    <a href="/criar-usuario">Clique aqui para criar</a>
                </p>
                <button type="submit" class="btn-gophernet">Login</button>
            </form>
        </div>
    </div>

    <script src="/assets//js/jquery.min.js"></script>
    <script src="/assets/js/login.js"></script>
</body>

</html>
