<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de usuarios</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/register.css">
</head>

<body>
    <div class="container-register">
        <div>
            <form class="gophernet-form" id="register-form">
                <span> Cria sua conta! </span>
                <div>
                    <input type="text" name="name" id="name" placeholder="Digite seu nome" required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite seu nick" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite seu e-mail" required="required">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Digite sua senha"
                        required="required">
                </div>
                <div>
                    <input type="password" name="confirm-password" id="confirmPassword" placeholder="Confirme sua senha"
                        required="required">
                </div>
                <p>
                    Já tem conta?
                    <a href="/login">Clique aqui para fazer login</a>
                </p>
                <button type="submit" class="btn-gophernet">Cadastrar</button>
            </form>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets//js/register.js"></script>
</body>

</html>
